*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
form{
    position: relative;
}
span{
    font-size:22px;
    padding: 3px;
    background-color: white;
    position: absolute;
    top: 18px;
    left: 20px;
    animation-name:provoke;
    animation-duration:0.5s;
    animation-fill-mode: forwards;
}
@keyframes provoke{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-29px);
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
}

.input{
    width: 350px;
    height: 70px;
    font-size: 22px;
    border: 2px solid black;
    padding-left: 10px;
}

.input:active{
    @keyframes provoke{
        0%{
            transform: translateY(0);
        }
        100%{
            transform: translateY(-29px);
            border-left: 2px solid black;
            border-right: 2px solid black;
        }
    }
}


