*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
form{
    position: relative;
}
.span{
    font-size:22px;
    padding: 1px;
    background-color: white;
    position: absolute;
    top: 18px;
    left: 20px;
    cursor: text;
    pointer-events: none;
    transition: 1s;
    
}
.span-border{
    border-left: 2px solid black;
    border-right: 2px solid black;
    
}
.input{
    width: 350px;
    height: 70px;
    font-size: 22px;
    border: 2px solid black;
    padding-left: 10px;
}



